<div class="table-responsive">
  <table class="table table-condensed table-responsive table-user-information">
    <tbody>
      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-cloud text-primary"></span>
            Days
          </strong>
        </td>
        <td class="text-primary">
          23
        </td>
      </tr>

      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-bookmark text-primary"></span>
            Location
          </strong>
        </td>
        <td class="text-primary">
          Colombo
        </td>
      </tr>

      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-eye-open text-primary"></span>
            Quantity
          </strong>
        </td>
        <td class="text-primary">
          5 Kg
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-eye-open text-primary"></span>
            Family
          </strong>
        </td>
        <td class="text-primary">
          Calocybe
        </td>
      </tr>
    </tbody>
  </table>
</div>
