.my-card3 {
  width: 100%;
  border-radius: 4px;
  margin-top: 30px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.my-card3 :hover {
  cursor: pointer;
}

.s-body-circle img {
  border-radius: 50%;
  border: solid 2px #86ada9;
  width: 60px;
  height: 60px;
}

.s-body {
  padding: 15px;
}

.s-footer {
  background-color: #ddd;
  padding: 10px 15px;
  text-align: right;
}
.s-footer span {
  padding-right: 5px;
}

a {
  text-decoration: none;
}

.user-name {
  font-family: Roboto;
  font-size: 1.4em;
  color: rgb(75, 78, 82);
}

.age {
  font-family: Roboto;
  font-size: 0.8em;
  color: rgba(75, 78, 82, 0.657);
}

.fa-angle-right {
  color: rgba(75, 78, 82, 0.404);
  font-size: 1.8em;
}

.status {
  color: rgba(31, 74, 216, 0.863);
}

.see {
  color: rgb(75, 78, 82);
}
