<div class="my-card3">
  <div class="s-body">
    <div class="row">
      <div class="col-sm-6 col-md-4 text-center">
        <div class="s-body-circle">
          <img src="assets/Shimeji.jpg" alt="image" />
        </div>
      </div>
      <div class="col-md-8 text-center">
        <span class="user-name">Mushroom</span><br />
        <span class="age">Days - 23</span><br />
        <div class="status">
          <i class="fa fa-circle"></i>
          Normal
        </div>
      </div>
    </div>
  </div>
  <div class="s-footer ">
    <a routerLink="/patient">
      <div class="see">
        see more
        <i class="fa fa-angle-right"></i>
      </div>
    </a>
  </div>
</div>
