.s-body-circle img {
  border-radius: 50%;
  border: solid 2px #26a69a;
  width: 140px;
  height: 140px;
  margin-bottom: 15px;
}

.heart-text {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: rgb(112, 105, 105);
  font-size: 1.1em;
  padding-top: 0px;
  /* background-color: #26a69a; */
  border-radius: 0 0 0px 4px;
  padding-bottom: 20px;
}
