<!-- <nav class="navbar  bg-1 navbar-dark">
  
  <img src="assets/mm.png" class="header-logo" />
  <a class="navbar-brand m-l-20" href="#">BC</a>

  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav> -->

<header>
  <nav class="navbar navbar-expand-lg bg-1 navbar-dark">
    <a class="navbar-brand m-l-20" routerLink="/">
      <img src="assets/incubator.png" class="header-logo" /> SC</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/patient">Crop</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>
