<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="my-card1">
          <div class="row">
            <div class="col-md-6 text-center">
              <user-image></user-image>
            </div>
            <div class="col-md-6 text-center">
              <app-user-details></app-user-details>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="my-card2">

          <app-heart-rate></app-heart-rate>


        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="my-card2">
          <app-respiration-rate></app-respiration-rate>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-ppg-graph></app-ppg-graph>
      </div>
      <div class="col-md-6">
        <app-tem-graph></app-tem-graph>
      </div>
    </div>
  </div>

</section>